[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
anthropic = {extras = ["vertex"], version = "*"}
google-cloud-aiplatform = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
lxml = "*"
pandas = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.12"
